@font-face {
  font-family: "spyfont"; /* Project id 3888171 */
  src: url('spyfont.woff2?t=1676021785543') format('woff2'),
       url('spyfont.woff?t=1676021785543') format('woff'),
       url('spyfont.ttf?t=1676021785543') format('truetype');
}

.spyfont {
  font-family: "spyfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongguanli:before {
  content: "\e6b2";
}

.icon-guobiaojilian:before {
  content: "\e6a2";
}

.icon-dianziditu:before {
  content: "\e6a3";
}

.icon-jiugongge:before {
  content: "\e6a4";
}

.icon-guobiaoshebei:before {
  content: "\e6a5";
}

.icon-jiedianguanli:before {
  content: "\e6a6";
}

.icon-kongzhitai:before {
  content: "\e6a7";
}

.icon-sigongge:before {
  content: "\e6a8";
}

.icon-zaixianwendang:before {
  content: "\e6a9";
}

.icon-jietu:before {
  content: "\e6aa";
}

.icon-shishijiankong:before {
  content: "\e6ab";
}

.icon-tuiliuliebiao:before {
  content: "\e6ac";
}

.icon-laliudaili:before {
  content: "\e6ad";
}

.icon-lunxun:before {
  content: "\e6ae";
}

.icon-quanping:before {
  content: "\e6af";
}

.icon-yunduanluxiang:before {
  content: "\e6b0";
}

.icon-luxiang:before {
  content: "\e6b1";
}

.icon-danshipin:before {
  content: "\e6a1";
}
